:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-image: url("./assets/bg-game.png");
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.board {
  width: fit-content;
  /* margin: 40px auto; */
  text-align: center;
  border-radius: 10px;
  padding: 25px;

  background: rgba(255, 255, 255, 0.15); /* fondo semitransparente */
  box-shadow: 0 4px 12px rgba(31, 38, 135, 0.2); /* sombra más suave */
  backdrop-filter: blur(10px); /* desenfoque de fondo */
  -webkit-backdrop-filter: blur(10px); /* soporte en Safari */
  border: 1px solid rgba(255, 255, 255, 0.18); /* borde sutil */
}

.board h1 {
  color: #495968;
  margin-bottom: 24px;
}

footer button,
.board button {
  padding: 10px 15px;
  margin: 25px;
  background: #c38d5b;
  color: #fff;
  border-radius: 5px;
  border-width: 0;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

footer button:hover,
.board button:hover {
  background: #a06f45;
  color: #fff;
}

.board .game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.turn {
  display: flex;
  justify-content: center;
  margin: 25px auto;
  width: fit-content;
  position: relative;
  border-radius: 10px;
}

.turn .square,
.winner .square {
  width: 70px;
  height: 70px;
  pointer-events: none;
  border-color: transparent;
}

.square.is-selected {
  color: #fff;
  background: #bfaed6;
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
  background: #fff;
  height: 300px;
  width: 320px;
  border: 2px solid transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #374048;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  color: #374048;
}

.square {
  width: 100px;
  height: 100px;
  /* border: 2px solid #000; */
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
  background: #f5f5f5;
  color: #374048;
}

@keyframes pop {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.square span {
  display: inline-block;
  animation: pop 0.15s ease-out;
}
